#root {
  margin: 0 ;
  padding: 0;
}

/* Login Page  */
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Navbar  */
nav li {
  cursor: pointer;
  font-weight: 500;
}

/* Home  */
.home {
  position: relative;
  background: url("./assets/pizza.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Dashboard  */
.dashboard-section {
  display: flex;
  padding:  16px;
  border-radius: 6px;
  background-color: #fff;
}



